* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
  background: #000;
  font-family: "PP Neue Montreal";
}

h1 {
  margin: 0.25em 0;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

p {
  width: 80%;
  font-size: 24px;
  font-weight: 400;
  line-height: 175%;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}

.links {
  display: flex;
  align-items: center;
  gap: 2em;
}

canvas {
  position: fixed;
  width: 100%;
  background-size: cover;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* max-width: 100vw;
  max-height: 100vh; */
}


nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.logo img {
  width: 50%;
}

.logo a {
  font-size: 28px;
}

.logo a sup {
  position: relative;
  top: -2px;
  font-size: 14px;
}

.lottie-container .animation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  filter: saturate(2);
}

/* .animation:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 200%;
  width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  animation: animateGrain 8s steps(10) infinite;
} */

.gradient {
  width: 100vw;
  position: relative;
  height: 200vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 95%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
}

.website-content {
  position: relative;
  width: 100%;
  height: 300vh;
  padding: 2em;
  background: #000;
  color: #fff;
  z-index: 1;
}

.end-lottie {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 1px;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
